body {
    box-sizing: border-box;
    background-image: url("my-images/space.jpg");
}

.btn {
    font-family: 'Orbitron', sans-serif;
}

.jumbotron {
    
    text-align: center;
    background-image: url("my-images/space.jpg");
    color: yellow;
    padding-bottom: 10px;
}

.fab {
    display: inline;
    color: orangered;
    size:  200%;
    padding: 20px;
    
}

.lead {
    font-size: 25px;
}

img {
    justify-content: center;
    border-radius: 25px;
    padding: 10px;
}

.middle {
    text-align: center;
}
.row {
   
    justify-content: space-evenly;
    justify-content: center;
    padding: 5px;
    color: yellow;
    border: 3px;
    border-radius: 10px;
    border: 3px;
    border-color: yellow;
}
