body {
    box-sizing: border-box;
    background-image: url("my-images/space.jpg");
}

.btn {
    font-family: 'Orbitron', sans-serif;
}

.jumbotron {
   
    text-align: center;
    background-image: url("my-images/space.jpg");
    color: yellow;
    margin-bottom: 10;
    padding-bottom: 10;
}

.fab {
    display: inline;
    color: orangered;
    size:  200%;
    padding: 20px;

}

.lead {
    font-size: 25px;
}

.left, .middle, .right {
    color: yellow;
    border-color: yellow;
    border-radius: 25%;
    border: 3px;
}